@import '../../core/core.scss';

$header-background-color: color($brand-primary-color, 600);
$menu-height: 40px;

main-header {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  height: $header-height;
  background-color: $header-background-color;
  color: $shop-white-color;

  .company-info {
    display: flex;
    flex-grow: 1;
    padding: 0 10px;
  }

  .logo {
    max-height: $header-height - $menu-height - 20px;
    margin: auto 0;
    cursor: pointer;
  }

  .menu {
    display: flex;
    flex-shrink: 0;
    height: $menu-height;
    max-height: $menu-height;
  }

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    transition: 0.25s;

    &:hover, &.selected {
      border-bottom-color: $shop-white-color;
    }

    &:hover {
      background-color: lighten($header-background-color, 5%);
    }
  }
}
