@import '../../core/core.scss';

$header-background-color: color($brand-primary-color, 600);
$menu-height: 40px;

main-header {
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 400px;
  text-transform: uppercase;
  color: $shop-white-color;

  .parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    transition: opacity .2s ease;
    padding-bottom: 50%;
  }

  .company-info {
    position: absolute;
    top: 0;
    display: flex;
    flex-grow: 1;
    padding: 0 10px;
  }

  .logo {
    max-height: $header-height - $menu-height - 20px;
    margin: auto 0;
    cursor: pointer;
  }

  .actions {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    height: $menu-height;
    max-height: $menu-height;
  }

  .menu {
    display: flex;
    height: 100%;
  }

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    transition: 0.25s;

    &:hover, &.selected {
      border-bottom-color: $shop-white-color;
    }

    &:hover {
      background-color: lighten($header-background-color, 5%);
    }
  }
}
