@import "../../core/core";

$selected-category: color($brand-primary-color, 700);

.search-page-title, .no-items-found {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 20px;

  .query {
    color: $selected-category;
    font-weight: 100;
    font-style: italic;
  }
}

.no-items-found {
  margin: auto;

  .query {
    margin: 0 10px;
  }
}
