@import "../../core/core";

$popular-items-color: color($brand-primary-color, 700);
$main-page-block-background-color: color($blue-grey, 50);
$popular-item-tile-border-color: color($blue-grey, 100);
$stock-image-max-height: 500px;

.main-page-stocks {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  color: color($grey, 700);
  font-size: 14px;
  background-color: $main-page-block-background-color;  

  .main-label {
    flex-shrink: 0;
  }
}

.no-stocks {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 100;
  color: color($grey, 400);
}

.main-label {
  font-size: 24px;
  font-weight: 600;
  color: $popular-items-color;
  margin: 10px 20px;
  text-transform: uppercase;
}

.clients-info {
  padding: 20px;

  .logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.popular-items {
  flex-shrink: 0;
  padding: 20px 20px 0 20px;
  background-color: $main-page-block-background-color;  

  item-tile {
    box-shadow: 0 0 15px $popular-item-tile-border-color;
  }
}

.rn-carousel-indicator {
    display: flex;
    justify-content: center;
}

.carousel-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.stocks-carousel {
  img {
    max-height: $stock-image-max-height;
    width: auto;
    height: auto;
  }
}

.stocks-carousel {
  height: $stock-image-max-height;
}
