@import '../../core/core.scss';

$image-preview-max-height: 100px;
$selected-image-border-color: color($brand-primary-color, 100);
$images-preview-border-color: color($grey, 300);
$close-image-color: color($grey, 500);
$close-image-hover-color: color($grey, 700);
$big-image-max-size: 500px;

.images-preview {
  display: flex;

  overflow-x: auto;
  border-top: 1px solid $images-preview-border-color;
  border-bottom: 1px solid $images-preview-border-color;
}

.image-preview {
  max-height: $image-preview-max-height;
  padding: 10px;
  margin: 10px;

  &.selected {
    box-shadow: 0 0 15px $selected-image-border-color;
  }
}

.big-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px;

  .close-icon {
    position: absolute;
    font-size: 32px;
    right: 0;
    cursor: pointer;
    color: $close-image-color;

    &:hover {
      color: $close-image-hover-color;
    }
  }
}

.big-image {
  max-height: $big-image-max-size;
  max-width: $big-image-max-size;

  transition: all linear 0.5s;

  &.ng-hide {
    opacity: 0;
  }

  &.ng-hide-add {
    max-width: 0;
  }
}
