<!doctype html>
<html>
    <head>

        <meta charset="utf-8">
        <title>БезНалТех</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <% for(var i=0; i < htmlWebpackPlugin.files.css; i++) { %>
            <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
        <% } %>

        <% for(var i=0; i < htmlWebpackPlugin.files.chunks; i++) { %>
            <script src="<%= htmlWebpackPlugin.files.chunks[i].entry %>" defer></script>
        <% } %>

        <style>
            .loading .page-loader {
                display: flex;
            }
            .page-loader {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 3000;
                opacity: 0.75;
                background-color: #000000;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }
            .loader {
                position: relative;
                width: 100%;
                padding-top: 500px;
            }
            .loader div {
                width: 20px;
                height: 20px;
                position: absolute;
                left: -40px;
                bottom: 10px;
                background-color: #777777;
                border-radius: 50%;
                -webkit-animation: move 2s infinite cubic-bezier(0.2,0.64,0.81,0.23);
                animation: move 2s infinite cubic-bezier(0.2,0.64,0.81,0.23);
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
            }
            .loader div:nth-child(2) {
                -webkit-animation-delay: 150ms;
                animation-delay: 150ms;
            }
            .loader div:nth-child(3) {
                -webkit-animation-delay: 300ms;
                animation-delay: 300ms;
            }
            .loader div:nth-child(4) {
                -webkit-animation-delay: 450ms;
                animation-delay: 450ms;
            }
            @-webkit-keyframes move {
                0% {
                    left: 0
                }

                75% {
                    left: 110%
                }

                100% {
                    left: 110%
                }
            }

            @keyframes move {
                0% {
                    left: 0
                }

                75% {
                    left: 110%
                }

                100% {
                    left: 110%
                }
            }

            @-webkit-keyframes hide {
                0% {
                    opacity: 0
                }

                100% {
                    opacity: 0
                }
            }

            @keyframes hide {
                0% {
                    opacity: 0
                }

                100% {
                    opacity: 0
                }
            }
        </style>

    </head>
    <body class="loading" page-loader>
        <div class="page-loader">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <main-header></main-header>
        <div ui-view></div>
    </body>
</html>
