html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Noto Sans', sans-serif;

  &:focus {
    outline: none;
  }
}

body {
  display: flex;
  flex-direction: column;
}

main-header {
  flex-shrink: 0;
}

div[ui-view] {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}
